<mat-card>
  <div class="score-board">
    <h2>Innings - {{innings}}</h2>
    <div class="team-scores">
      <div class="team-score team-a">
        <div>
          <h3>Team - A</h3>
          <div class="score">123 - 10</div>
          <h4>{{battingPlayer}} - Batting</h4>
        </div>
        <div class="team-icon">A</div>
      </div>
      <span class="vs">VS</span>
      <div class="team-score team-b">
        <div class="team-icon">B</div>
        <div>
          <h3>Team - B</h3>
          <div class="score">111 - 12</div>
          <h4>{{bowlingPlayer}} - Bowling</h4>
        </div>
      </div>
    </div>
    <br/>
    <h4>Overs: {{overs | number: '1.1'}}</h4>
  </div>
  <div class="player-stat">
    <button mat-raised-button color="primary" (click)="bowl()">{{gameStatus}}</button>
    <table>
      <thead>
        <tr>
          <th>Players</th>
          <th>Runs</th>
          <th>bowls</th>
          <th>4s</th>
          <th>6s</th>
          <th>Wicket By</th>
          <th>SR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of teamA">
          <td>{{player.player}}</td>
          <td>{{player.battingStats.runs}}</td>
          <td>{{player.battingStats.bowls}}</td>
          <td>{{player.battingStats.fours}}</td>
          <td>{{player.battingStats.sixs}}</td>
          <td>{{player.battingStats.wicketBy}}</td>
          <td>{{player.battingStats.strikeRate}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</mat-card>

<h1>Current Batting Team {{battingTeam}}</h1>
<h1>Current Bowling Team {{bowlingTeam}}</h1>
